<launch>
  <!-- Define Arguments of Launch File -->
  <arg name="debug" default="false"/>
  <arg name="device" default="/dev/video0" />
  <arg name="name" default=""/>

  <!-- refer to: http://wiki.ros.org/usb_cam for definition of each parameter-->
  <node pkg="usb_cam" type="usb_cam_node" name="usb_cam_$(arg name)">
    <param name="video_device" value="$(arg device)" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="io_method" value="mmap"/>
    <param name="camera_frame_id" value="usb_cam" />
    <param name="framerate" value="60" />
    <param name="camera_info_url" value="package://usb_cam/camera_info/usb_cam.yaml" />
    <param name="camera_name" value="usb_cam" />  
  </node>
  
  <group  if="$(arg debug)">
    <node pkg="image_view" type="image_view" name="image_raw_$(arg name)" if="$(arg debug)">
		<remap from="image" to="/usb_cam/image_raw" />
		<param name="autosize" type="bool" value="true" />
	</node>
  </group>
</launch>

